# Deployment Configuration
SCM_DO_BUILD_DURING_DEPLOYMENT="true"

# Application Insights Configuration
APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=your_instrumentation_key;IngestionEndpoint=https://your_ingestion_endpoint;LiveEndpoint=https://your_live_endpoint;ApplicationId=your_application_id"
ApplicationInsightsAgent_EXTENSION_VERSION="~3"
APPLICATIONINSIGHTSAGENT_EXTENSION_ENABLED="true"
WEBSITE_HTTPLOGGING_RETENTION_DAYS="7"

# Application Configuration
FLASK_KEY="your_flask_secret_key"

# Azure AD Configuration
CLIENT_ID="your_frontend_client_id"
TENANT_ID="your_tenant_id"
WEBSITE_AUTH_AAD_ALLOWED_TENANTS="your_allowed_tenants"
MICROSOFT_PROVIDER_AUTHENTICATION_SECRET="your_authentication_secret"

# Linbux Broker API Configuration
API_URL="https://your_linuxbroker_api_base_url/api"
API_CLIENT_ID="your_linuxbroker_api_client_id"
