# Deployment Configuration
SCM_DO_BUILD_DURING_DEPLOYMENT="true"

# Application Insights Configuration
APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=your_instrumentation_key;IngestionEndpoint=https://your_ingestion_endpoint;LiveEndpoint=https://your_live_endpoint;ApplicationId=your_application_id"
ApplicationInsightsAgent_EXTENSION_VERSION="~3"
APPLICATIONINSIGHTSAGENT_EXTENSION_ENABLED="true"
WEBSITE_HTTPLOGGING_RETENTION_DAYS="7"

# Azure VM Configuration
VM_SUBSCRIPTION_ID="your_subscription_id"
VM_RESOURCE_GROUP="your_resource_group"
AVD_HOST_GROUP_ID="your_avd_host_group_id"
LINUX_HOST_GROUP_ID="your_linux_host_group_id"
LINUX_HOST_ADMIN_LOGIN_NAME="your_linux_host_admin_login_name"

# Database Configuration
DB_SERVER="your_database_server"
DB_DATABASE="your_database_name"
DB_USERNAME="your_database_username"

# Azure AD Authentication
CLIENT_ID="your_client_id"
TENANT_ID="your_tenant_id"

# Microsoft Graph API
GRAPH_API_ENDPOINT="https://graph.microsoft.com/.default"

# Authentication Secret for Microsoft Provider
MICROSOFT_PROVIDER_AUTHENTICATION_SECRET="your_authentication_secret"

# Domain and Vault Configuration
DOMAIN_NAME="your_domain_name"

# Secrets Managed in Azure Vault
VAULT_URL="https://your_vault_name.vault.azure.net/"
KEY_NAME="your_key_name"
DB_PASSWORD_NAME="db_password_key_in_vault"

